.name{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 1rem 1rem;
}

.pic-container{
    width: 420px;
    margin: calc(37vh - 210px) auto 0;
}
.pic-container td>div{
    height: 200px;
    width: 200px;
    /*background-color: pink;*/
    margin: 10px;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    /*transition: all 0.1s ease-out;*/
}
/*
.pic-container td>div:hover{
    z-index: 2;
    transform: scale(2.1, 2.1);
    transition: all 1s ease-in-out;
}
*/

#continue{
    margin-left: calc(220px - 5rem);
    margin-top: 15px;
}

#load{
    margin-left: 200px;
}

.res{
    border-radius: 0.5rem;
    border: 2px solid black;
    transition: all 0.1s ease-out;
}
